.App {
  background: linear-gradient(#f1c2c2, #9198e5);
}

.span-logo {
  color: goldenrod;
}

.btn-primary {
  background-color: #9198e5;
}

.span-title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}
.circle {
  width: 80%;
  max-width: 960px;
  height: 98vh;

  border-radius: 50%;
}
