.App {
  background: linear-gradient(#f1c2c2, #9198e5);
}

.span-logo {
  color: goldenrod;
}

.btn-primary {
  background-color: #9198e5;
}

.span-title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.bg-img-fitness {
  background-image: url("https://images.unsplash.com/photo-1633058851505-6376593aa34f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
}
